

#experience-container {
    width: 1040px;
    height: auto;
    background-color: #1d2226;
    color: white;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    justify-content: center;


}

hr {
    color: white;
}

