.App{
  height: 100vh;
  background-color: rgb(233, 233, 233);
}

p > a {
  font-size: 14px;
}

footer{
  padding-left: 15rem !important;
  padding-right: 15rem !important;

  @media screen and (max-width: 1024px) {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
  }
}
